/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************
            My code starts here
********************************************/

/***********************
    Basic Styles
***********************/

/* creating colour variables */

:root {
    /* primary colours */
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);

    /* secondary colours */
    --off-white: hsl(36, 100%, 99%);
    --grayBlue: hsl(233, 8%, 79%);
    --darkGray: hsl(236, 13%, 42%);
    --darkBlue: hsl(240, 100%, 5%);
}

.new {background-color: var(--darkBlue); padding-bottom: .5rem;}
.new h2 {color: var(--softOrange); padding: 1rem;}
.new h3 {color: var(--off-white); padding-left: 1rem; padding-bottom: .5rem;}
.new h3:hover {color: var(--softOrange);}
.new p {color: var(--grayBlue); padding: 0 1rem;}
hr {color: var(--grayBlue);}
#uppercase {text-transform: uppercase; background-color: var(--softRed); color: white; margin-bottom: 1rem;}
.numbers span {color: var(--darkGray);}
.flex {display: grid; grid-template-columns: 1fr 2fr; margin: .5rem;}
.numbers {margin: 0 .5rem;}
.info {padding-left: .5rem;}
.info h4:hover {color: var(--softRed);}
.hero {padding-top: 4rem;}
#h1 {padding-top: 1rem;}
.bright {margin: 0 1rem;}

#uppercase:hover {background-color: black;}
/***********************
    Desktop
***********************/

@media only screen and (min-width:768px) {
    .bright{display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;}
    .bright img {grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2;}
    .bright h1 {grid-row-start: 2; grid-column-start: 1; grid-column-end: 2;}
    .bright div {grid-row-start: 2; grid-column-start: 2; grid-column-end: 3;}

    .new {
        grid-column-start: 2;
    }
    .numbers {
        display: flex;
        margin: 0 7rem;
    }
    
    .container {margin: 0 8rem;}
    
}